extends layout.pug

block content

  article.portfolio-intro

    h1 My Projects
    p Below is an assortment of projects I've worked on.  As I create more I will continue to add them.

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects    
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.landingpage_img}`, alt = `Landing page for ${project.project_name}`)
            h5= project.project_name